<div class="container">
  <h1>Кредитный калькулятор</h1>
</div>
<div class="container">
  <p>Данный сервис поможет составить график платежей по кредиту</p>
</div>

<div>
  <label for="date-input">Введите дату начала кредита</label>
  <input  type="date" 
          id="date-input" 
          [(ngModel)]="request.startDate">
</div>
<div>
  <label for="amount-input">Введите сумму кредита</label>
  <form>
    <input  type="range" 
            name="amountRange" 
            min="100000" 
            max="10000000" 
            value="500000" 
            step="10000" 
            oninput="this.form.amountInput.value=this.value"
            [(ngModel)]="request.amount"/>
    <input  type="number" 
            name="amountInput" 
            min="100000" 
            max="100" 
            value="500000" 
            disabled="true"/> рублей
  </form>
</div>
<div>
  <label for="period-input">Введите период кредита</label>
   <form>
    <input  type="range" 
            name="amountRange" 
            min="3" 
            max="120" 
            value="18" 
            step="1" 
            oninput="this.form.amountInput.value=this.value" 
            [(ngModel)]="request.period"/>
    <input  type="number" 
            name="amountInput" 
            min="3" 
            max="120" 
            value="18" 
            oninput="this.form.amountRange.value=this.value" 
            disabled="true"/> месяцев
  </form>
</div>
<div>
  <label for="payment-types">Выберите тип платежей</label>
  <select name="payment-types" id="payment-types" [(ngModel)]="request.paymentType">
    <option value="annual">Аннуительный</option>
    <option value="differentiated">Дифференцированный</option>
  </select>
</div>
<div>
  <label for="rate-input">Введите годовую ставку</label>

  <form>
    <input  type="range" 
            name="amountRange"
            min="5" 
            max="30" 
            value="10" 
            step="1" oninput="this.form.amountInput.value=this.value" 
            [(ngModel)]="request.rate"/>
    <input  type="number" 
            name="amountInput" 
            min="5" 
            max="30" 
            value="10" 
            oninput="this.form.amountRange.value=this.value" 
            disabled="true" /> %
  </form>
</div>

<div>
  <button (click)="clickCalculate()">Рассчитать график платежей</button>
</div>

<div>
  <h1>Платежи</h1>
  <ul>
    <li *ngFor="let payment of payments">
      <h2>{{payment.description}}</h2>
      <h3>Номер: {{payment.index}}</h3>
      <h3>Начала периода: {{payment.startPeriod}}</h3>
      <h3>Конец периода: {{payment.endPeriod}}</h3>
      <h3>Сумма долга: {{payment.debtBalance}} руб.</h3>
      <h3>Сумма платежа: {{payment.payment}} руб.</h3>
      <h3>Процентная часть: {{payment.percentagePart}} руб.</h3>
      <h3>Долговая часть: {{payment.debtPart}} руб.</h3>
      <h3>Конец долга на конец месяца: {{payment.debtBalanceOnPeriodEnd}} руб.</h3>

    </li>
  </ul>
</div>